.progressVisualFull {
    display: flex;
    /* change the value if you want different thickness */
    height: 10px;
    margin: 20px auto;
    width: 90%;
  }
  
  .progressVisualPart {
    /* Number of the seconds for complete animation */
    transition: width 2s;
  }
  
  .progressLabel {
    font-family: monospace;
    font-weight: 400;
    font-size: 1.5em;
  }